.text-cetner {
    text-align: center;
}

.table {
    margin: auto;
    width: 100%;
    max-width:500px;
    border-collapse: collapse;
}

td {
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) {background-color: #f2f2f2;}

thead th {
  text-align: center;
  border-bottom: 2px solid black;
}

thead th.ascending::after {
  content: '▾';
  display: inline-block;
  margin-left: 1em;
}

thead th.descending::after {
  content: '▴';
  display: inline-block;
  margin-left: 1em;
}
