@media (min-width: 640px) {
    body {
        background-image: url('mltd.jpeg');
        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(255,255,255,0.8);
        background-blend-mode: lighten;
    }

    tr:nth-child(even) {background-color: #d4d4d4;}
}

@media (max-width: 640px) {
    tr:nth-child(even) {background-color: #f2f2f2;}
}

.text-cetner {
    text-align: center;
}

.table {
    margin: auto;
    width: 100%;
    max-width:500px;
    border-collapse: collapse;
}

td {
    text-align: center;
    vertical-align: middle;
}

thead th {
  text-align: center;
  border-bottom: 2px solid black;
}

thead th.ascending::after {
  content: '▾';
  display: inline-block;
  margin-left: 1em;
}

thead th.descending::after {
  content: '▴';
  display: inline-block;
  margin-left: 1em;
}
